@font-face{
    font-family: 'blanch_cond';
    src: url('../fonts/Blanch/_BLANCH_CONDENSED.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'lato_reg';
    src: url('../fonts/Lato/Lato-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'playfair_reg';
    src: url('../fonts/Playfair-Display/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}